In [8]:
import pandas as pd
pd.options.display.max_columns = 1000

In [2]:
df = pd.read_csv("/data/credit-default.csv")

In [6]:
df.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_length,installment_rate,personal_status,other_debtors,residence_history,property,age,installment_plan,housing,existing_credits,default,dependents,telephone,foreign_worker,job
0,< 0 DM,6,critical,radio/tv,1169,unknown,> 7 yrs,4,single male,none,4,real estate,67,none,own,2,1,1,yes,yes,skilled employee
1,1 - 200 DM,48,repaid,radio/tv,5951,< 100 DM,1 - 4 yrs,2,female,none,2,real estate,22,none,own,1,2,1,none,yes,skilled employee
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 yrs,2,single male,none,3,real estate,49,none,own,1,1,2,none,yes,unskilled resident
3,< 0 DM,42,repaid,furniture,7882,< 100 DM,4 - 7 yrs,2,single male,guarantor,4,building society savings,45,none,for free,1,1,2,none,yes,skilled employee
4,< 0 DM,24,delayed,car (new),4870,< 100 DM,1 - 4 yrs,3,single male,none,4,unknown/none,53,none,for free,2,2,2,none,yes,skilled employee

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
checking_balance        1000 non-null object
months_loan_duration    1000 non-null int64
credit_history          1000 non-null object
purpose                 1000 non-null object
amount                  1000 non-null int64
savings_balance         1000 non-null object
employment_length       1000 non-null object
installment_rate        1000 non-null int64
personal_status         1000 non-null object
other_debtors           1000 non-null object
residence_history       1000 non-null int64
property                1000 non-null object
age                     1000 non-null int64
installment_plan        1000 non-null object
housing                 1000 non-null object
existing_credits        1000 non-null int64
default                 1000 non-null int64
dependents              1000 non-null int64
telephone               1000 non-null object
foreign_worker          1000 non-null object
job                     1000 non-null object
dtypes: int64(8), object(13)
memory usage: 164.1+ KB

In [25]:
df_dummy = pd.get_dummies(df, drop_first=True)
del df_dummy["default"]

In [12]:
from sklearn import preprocessing

In [26]:
scaler = preprocessing.StandardScaler() # z_score = (x - mean(x))/std(x)
df_std = scaler.fit_transform(df_dummy)
# purpose is make 0 mean and 1 stddev

In [27]:
pd.DataFrame(df_std).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47
count,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03,1.000000e+03
mean,1.332268e-16,7.771561e-17,1.163965e-16,-3.117506e-16,3.597123e-17,-5.928591e-17,-2.887690e-16,-3.944622e-16,-3.630429e-17,-3.737011e-16,3.608225e-17,1.675882e-16,-3.169132e-16,-8.770762e-17,6.283862e-17,3.375078e-17,2.517431e-17,1.413869e-16,-3.785861e-17,-9.206524e-17,-1.971756e-16,-2.125522e-16,1.122158e-16,-2.831069e-17,8.348877e-17,4.890532e-17,-4.962697e-17,-1.600942e-16,-1.335598e-16,2.793321e-16,2.886580e-17,4.418688e-17,4.329870e-17,-8.815171e-17,4.501954e-17,3.486100e-17,-1.059153e-16,1.378897e-16,-8.515411e-17,3.277378e-16,1.346701e-16,1.387779e-17,4.496403e-17,-1.679767e-16,4.209411e-16,-8.104628e-17,-2.161049e-16,-3.330669e-19
std,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00,1.000500e+00
min,-1.402415e+00,-1.070865e+00,-1.764514e+00,-1.672459e+00,-1.455261e+00,-7.049260e-01,-4.282896e-01,-6.143374e-01,-2.592988e-01,-8.063281e-01,-3.106304e-01,-2.041241e-01,-2.269906e-01,-1.061913e+00,-5.527052e-01,-3.388616e-01,-1.102078e-01,-2.294157e-01,-4.701077e-01,-1.102078e-01,-6.236096e-01,-1.499830e-01,-9.529814e-02,-2.592988e-01,-1.232433e+00,-2.245444e-01,-4.732760e-01,-7.161420e-01,-4.589703e-01,-5.819691e-01,-2.570955e-01,-6.702801e-01,-3.183105e-01,-1.101086e+00,-2.342057e-01,-3.122929e+00,-7.049865e-01,-6.267038e-01,-4.266534e-01,-2.091971e+00,-2.220764e-01,-1.576173e+00,-4.669334e-01,-8.233179e-01,-5.101669e+00,-1.304877e+00,-1.499830e-01,-5.000000e-01
25%,-7.386675e-01,-6.754833e-01,-8.701833e-01,-7.659773e-01,-7.516417e-01,-7.049260e-01,-4.282896e-01,-6.143374e-01,-2.592988e-01,-8.063281e-01,-3.106304e-01,-2.041241e-01,-2.269906e-01,-1.061913e+00,-5.527052e-01,-3.388616e-01,-1.102078e-01,-2.294157e-01,-4.701077e-01,-1.102078e-01,-6.236096e-01,-1.499830e-01,-9.529814e-02,-2.592988e-01,-1.232433e+00,-2.245444e-01,-4.732760e-01,-7.161420e-01,-4.589703e-01,-5.819691e-01,-2.570955e-01,-6.702801e-01,-3.183105e-01,-1.101086e+00,-2.342057e-01,3.202122e-01,-7.049865e-01,-6.267038e-01,-4.266534e-01,4.780180e-01,-2.220764e-01,-1.576173e+00,-4.669334e-01,-8.233179e-01,1.960143e-01,-1.304877e+00,-1.499830e-01,-5.000000e-01
50%,-2.408572e-01,-3.373443e-01,2.414692e-02,1.405047e-01,-2.239269e-01,-7.049260e-01,-4.282896e-01,-6.143374e-01,-2.592988e-01,-8.063281e-01,-3.106304e-01,-2.041241e-01,-2.269906e-01,9.416966e-01,-5.527052e-01,-3.388616e-01,-1.102078e-01,-2.294157e-01,-4.701077e-01,-1.102078e-01,-6.236096e-01,-1.499830e-01,-9.529814e-02,-2.592988e-01,8.114030e-01,-2.245444e-01,-4.732760e-01,-7.161420e-01,-4.589703e-01,-5.819691e-01,-2.570955e-01,-6.702801e-01,-3.183105e-01,9.081946e-01,-2.342057e-01,3.202122e-01,-7.049865e-01,-6.267038e-01,-4.266534e-01,4.780180e-01,-2.220764e-01,6.344482e-01,-4.669334e-01,-8.233179e-01,1.960143e-01,7.663560e-01,-1.499830e-01,-5.000000e-01
75%,2.569531e-01,2.484620e-01,9.184772e-01,1.046987e+00,5.676451e-01,1.027079e+00,-4.282896e-01,1.627770e+00,-2.592988e-01,1.240190e+00,-3.106304e-01,-2.041241e-01,-2.269906e-01,9.416966e-01,-5.527052e-01,-3.388616e-01,-1.102078e-01,-2.294157e-01,-4.701077e-01,-1.102078e-01,1.603567e+00,-1.499830e-01,-9.529814e-02,-2.592988e-01,8.114030e-01,-2.245444e-01,-4.732760e-01,1.396371e+00,-4.589703e-01,1.718304e+00,-2.570955e-01,1.491914e+00,-3.183105e-01,9.081946e-01,-2.342057e-01,3.202122e-01,1.418467e+00,1.595650e+00,-4.266534e-01,4.780180e-01,-2.220764e-01,6.344482e-01,-4.669334e-01,1.214598e+00,1.960143e-01,7.663560e-01,-1.499830e-01,-5.000000e-01
max,4.239436e+00,5.370789e+00,9.184772e-01,1.046987e+00,3.470076e+00,4.491089e+00,2.334869e+00,1.627770e+00,3.856555e+00,1.240190e+00,3.219260e+00,4.898979e+00,4.405470e+00,9.416966e-01,1.809283e+00,2.951057e+00,9.073772e+00,4.358899e+00,2.127172e+00,9.073772e+00,1.603567e+00,6.667424e+00,1.049338e+01,3.856555e+00,8.114030e-01,4.453463e+00,2.112932e+00,1.396371e+00,2.178790e+00,1.718304e+00,3.889606e+00,1.491914e+00,3.141586e+00,9.081946e-01,4.269750e+00,3.202122e-01,1.418467e+00,1.595650e+00,2.343823e+00,4.780180e-01,4.502954e+00,6.344482e-01,2.141633e+00,1.214598e+00,1.960143e-01,7.663560e-01,6.667424e+00,2.000000e+00

In [29]:
X = df_std
y = df.default

In [30]:
from sklearn import model_selection

In [31]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y
                        , test_size = 0.3, random_state = 1)

In [32]:
from sklearn.linear_model import LogisticRegression

In [33]:
lr = LogisticRegression()
lr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [34]:
y_test_pred = lr.predict(X_test)

In [38]:
result = pd.DataFrame({"actual": y_test, "prediction": y_test_pred})
result["match"] = result.actual == result.prediction
result

     actual  prediction  match
507       2           1  False
818       1           2  False
452       1           1   True
368       2           2   True
242       2           2   True
929       1           2  False
262       1           1   True
810       1           1   True
318       1           1   True
49        1           1   True
446       2           2   True
142       1           1   True
968       1           1   True
345       1           1   True
971       1           1   True
133       1           1   True
104       1           1   True
6         1           1   True
600       1           1   True
496       2           2   True
702       1           1   True
472       2           2   True
598       2           1  False
502       1           1   True
433       1           1   True
119       1           1   True
108       1           1   True
647       2           1  False
589       2           1  False
374       2           2   True
..      ...         ...    ...
408       1           1   True
23        1           1   True
831       2           2   True
69        1           1   True
900       2           1  False
676       1           1   True
801       1           1   True
599       1           1   True
643       1           1   True
339       1           2  False
701       2           1  False
873       1           1   True
74        2           1  False
218       1           2  False
525       1           1   True
265       2           1  False
891       1           1   True
110       1           1   True
435       2           1  False
980       2           1  False
632       1           1   True
185       1           1   True
286       1           2  False
582       1           1   True
899       2           1  False
459       1           1   True
415       1           1   True
61        1           1   True
347       1           1   True
349       2           1  False

[300 rows x 3 columns]

In [39]:
result[result.match].shape

(227, 3)

In [41]:
accuracy = 227/len(X_test)
accuracy

0.7566666666666667

In [42]:
from sklearn import metrics

In [43]:
metrics.accuracy_score(y_test, y_test_pred)

0.7566666666666667

In [48]:
lr.coef_.flatten()

array([ 0.31542901,  0.44398823,  0.4871441 ,  0.11071849, -0.28179194,
        0.31129443,  0.12100318,  0.18120734, -0.08006396, -0.57507067,
        0.27800354,  0.42474536,  0.32597341,  0.73269247,  0.18335623,
       -0.43322044,  0.01217619, -0.00260429, -0.16556741, -0.12564763,
       -0.28791587,  0.06797704, -0.1316636 ,  0.07166258,  0.17569767,
       -0.29981357, -0.20366507, -0.0328564 , -0.27581671, -0.11670935,
        0.02375609, -0.17693942, -0.15354956, -0.48025604, -0.36584334,
       -0.20362962, -0.03325499, -0.15419152,  0.12058039, -0.26177106,
       -0.03577038,  0.06675628,  0.22491725, -0.22844007,  0.21156846,
       -0.04713346, -0.14314615,  0.07048844])

In [49]:
pd.DataFrame({"coefficient": lr.coef_.flatten()
            , "feature": df_dummy.columns})

    coefficient                                feature
0      0.315429                   months_loan_duration
1      0.443988                                 amount
2      0.487144                       installment_rate
3      0.110718                      residence_history
4     -0.281792                                    age
5      0.311294                       existing_credits
6      0.121003                             dependents
7      0.181207                checking_balance_< 0 DM
8     -0.080064              checking_balance_> 200 DM
9     -0.575071               checking_balance_unknown
10     0.278004                 credit_history_delayed
11     0.424745            credit_history_fully repaid
12     0.325973  credit_history_fully repaid this bank
13     0.732692                  credit_history_repaid
14     0.183356                      purpose_car (new)
15    -0.433220                     purpose_car (used)
16     0.012176            purpose_domestic appliances
17    -0.002604                      purpose_education
18    -0.165567                      purpose_furniture
19    -0.125648                         purpose_others
20    -0.287916                       purpose_radio/tv
21     0.067977                        purpose_repairs
22    -0.131664                     purpose_retraining
23     0.071663          savings_balance_501 - 1000 DM
24     0.175698               savings_balance_< 100 DM
25    -0.299814              savings_balance_> 1000 DM
26    -0.203665                savings_balance_unknown
27    -0.032856            employment_length_1 - 4 yrs
28    -0.275817            employment_length_4 - 7 yrs
29    -0.116709              employment_length_> 7 yrs
30     0.023756           employment_length_unemployed
31    -0.176939                 personal_status_female
32    -0.153550           personal_status_married male
33    -0.480256            personal_status_single male
34    -0.365843                other_debtors_guarantor
35    -0.203630                     other_debtors_none
36    -0.033255                         property_other
37    -0.154192                   property_real estate
38     0.120580                  property_unknown/none
39    -0.261771                  installment_plan_none
40    -0.035770                installment_plan_stores
41     0.066756                            housing_own
42     0.224917                           housing_rent
43    -0.228440                          telephone_yes
44     0.211568                     foreign_worker_yes
45    -0.047133                   job_skilled employee
46    -0.143146            job_unemployed non-resident
47     0.070488                 job_unskilled resident