In [1]:
print("welcome")

welcome

In [2]:
x = 1

In [3]:
type(x)

int

In [4]:
x = 1.0

In [5]:
type(x)

float

In [22]:
flag = True

In [7]:
is_test = True

In [21]:
type(is_test)

bool

In [27]:
x = 10
if x % 2 == 0:
    print("value of x : ", x)
    print("x is even number")
else:
    print("x is odd")

value of x :  10
x is even number

In [30]:
x = 11
print("x is even") if x % 2 == 0 else print("x is odd")

x is odd

In [33]:
x = 11
result = "even" if x % 2 == 0 else "odd"
print("x is", result)

x is odd

In [34]:
def is_even(x):
    result = True if x % 2 == 0 else False
    return result
is_even(11)

False

In [35]:
is_even(14)

True

In [36]:
def is_even(x):
    return x % 2 == 0 
is_even(11), is_even(14)

(False, True)

In [37]:
# Add two numbers
def add(x1, x2):
    return x1 + x2

add(3, 4)

7

In [39]:
add(3.4, 5.6)

9.0

In [66]:
add("hello", "world")

'helloworld'

In [40]:
x = [3, 5, 7, 8]
type(x)

list

In [41]:
len(x)

4

In [42]:
x = [3, 5, 7, "eight"]
type(x)

list

In [43]:
x[0]

3

In [44]:
x[2]

7

In [46]:
x = ["a", "b", "c", "d", "e", "f", "g", "h"]
x[1:4] # Slicing

['b', 'c', 'd']

In [47]:
x[:3]

['a', 'b', 'c']

In [48]:
x[-1]

'h'

In [49]:
x[-3:]

['f', 'g', 'h']

In [50]:
email = "abulbasar@gmail.com"

In [51]:
type(email)

str

In [52]:
len(email)

19

In [53]:
email[-4:]

'.com'

In [54]:
x = [4, 9, -1,1, 3]
x

[4, 9, -1, 1, 3]

In [58]:
sorted(x)

[-1, 1, 3, 4, 9]

In [57]:
sorted(x, reverse=True)

[9, 4, 3, 1, -1]

In [60]:
def to_abs(v):
    return v if v>=0 else -v
    
x = [9, 4, 1, -3, -1, 0, ]
sorted(x, key=to_abs)

[0, 1, -1, -3, 4, 9]

In [61]:
x = [9, 4, 1, -3, -1, 0, ]
sorted(x, key=lambda v: v if v>0 else -v)

[0, 1, -1, -3, 4, 9]

In [62]:
import math

In [68]:
x = [9, 4, 1, -3, -1, 0, ]
y = sorted(x, key=math.fabs) # Duck typing 
y

[0, 1, -1, -3, 4, 9]

In [69]:
type(y[0])

int

In [70]:
x = [9, 4, 1, -3, -1, 0, ]
if 10 in x:
    print("10 is present in list x")
else:
    print("10 is not present")

10 is not present

In [72]:
x = [9, 4, 1, -3, -1, 0, 1]
if 9 in x:
    print("9 is present in list x")
else:
    print("9 is not present")

9 is present in list x

In [74]:
9 in x # membership test

True

In [77]:
x = [9, 4, 1, -3, -1, 0, 1]
x.index(1)

2

In [79]:
x[::-1]

[1, 0, -1, -3, 1, 4, 9]

In [82]:
x = [9, 4, 1, -3, -1, 0, 1]
x.append(20)
x

[9, 4, 1, -3, -1, 0, 1, 20]

In [83]:
x = [9, 4, 1, -3, -1, 0, 1]
x.insert(1, 20)
x

[9, 20, 4, 1, -3, -1, 0, 1]

In [85]:
x = [9, 4, 1, -3, -1, 0, 1]
x.remove(9)
x

[4, 1, -3, -1, 0, 1]

In [86]:
x = [9, 4, 1, -3, -1, 0, 1]
x.remove(1)
x

[9, 4, -3, -1, 0, 1]

In [90]:
x = [9, 4, 1, -3, -1, 0, 1]
v = 10 
if v in x:
    x.remove(v)
    print(x)
else:
    print("%d is not present in %s" % (v, x))

10 is not present in [9, 4, 1, -3, -1, 0, 1]

In [91]:
str(x)

'[9, 4, 1, -3, -1, 0, 1]'

In [92]:
x = [9, 4, 1, -3, -1, 0, 1]
del x[1]
x

[9, 1, -3, -1, 0, 1]

In [101]:
x = [9, 4, 1, -3, -1, 0, 1]
x[1] = 5
x

[9, 5, 1, -3, -1, 0, 1]

In [94]:
x = (3, 4, 5, 5, 1, -1) # tuple is immutable
type(x)

tuple

In [95]:
x[:3]

(3, 4, 5)

In [96]:
x.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [100]:
x = tuple([3, 4, 5, 5])
type(x)

tuple

In [1]:
x = tuple(list(range(10 ** 2)))
len(x)

100

In [2]:
x = [3, 4, 5, 5]
for v in x:
    print(v)

3
4
5
5

In [3]:
x = [3, 4, 5, 5]
for i, v in enumerate(x):
    print(i, v)

0 3
1 4
2 5
3 5

In [5]:
y = []
x = [3, 4, 5, 5]
for v in x:
    y.append(v + 10)
y

[13, 14, 15, 15]

In [6]:
x = [3, 4, 5, 5]
y = [v + 10 for v in x]
y

[13, 14, 15, 15]

# Dict

In [7]:
weekdays = {"Sun": "Sunday", "Mon": "Monday", "Tue": "Tuesday"}
weekdays["Sun"]

'Sunday'

In [8]:
weekdays["Thu"]

KeyError: 'Thu'

In [9]:
"Thu" in weekdays

False

In [17]:
weekdays = {"Sun": "Sunday", "Mon": "Monday", "Tue": "Tuesday"}
weekdays.get("Thu", "Key is not present")

'Key is not present'

In [19]:
weekdays = {"Sun": "Sunday", "Mon": "Monday", "Tue": "Tuesday"}
weekdays["Thu"] = "Thursday"
weekdays, weekdays.get("Thu", "Key is not present")

({'Sun': 'Sunday', 'Mon': 'Monday', 'Tue': 'Tuesday', 'Thu': 'Thursday'},
 'Thursday')

# Set

In [20]:
weekdays = {"Sun", "Mon", "Tue"}
type(weekdays)

set

In [21]:
x = [4, 5, 6, 5, 5, 9]
set(x)

{4, 5, 6, 9}

In [22]:
len(set(x))

4

In [23]:
from collections import Counter

In [26]:
x = [4, 5, 6, 5, 5, 9]
Counter(x)

Counter({4: 1, 5: 3, 6: 1, 9: 1})

# User defined class

In [28]:
class Robot:
    pass # placeholder for code. Use it when you do not want to implement the code

r = Robot()
type(r)

__main__.Robot

In [29]:
__name__

'__main__'

In [33]:
class Robot:
    pass

r = Robot()
r.name = "terminator" # Property
print(r.name)

terminator

In [43]:
class Robot:
    
    name = None
    version = None

    def greet(self1):
        print("Hello, my name is %s" % self1.name)
    
    def __init__(self, name, version = 1):
        self.name = name # self is like a java this operator in java
        self.version = version

r = Robot("terminator", "1.4")
print(r.name, r.version)

terminator 1.4

In [44]:
r.greet()

Hello, my name is terminator

In [46]:
r1 = Robot("terminator", "1.4")
r2 = Robot("Gene", "1.6")

In [48]:
r1.greet(), r2.greet()

Hello, my name is terminator
Hello, my name is Gene

(None, None)

In [49]:
r1 == r2

False

In [52]:
class Robot:
    
    def __init__(self, name, version = 1):
        self.name = name # self is like a java this operator in java
        self.version = version

        
r1 = Robot("terminator", "1.4")
r2 = Robot("terminator", "1.6")
r1 == r2

False

In [53]:
class Robot:
    
    def __init__(self, name, version = 1):
        self.name = name # self is like a java this operator in java
        self.version = version

    def __eq__(self, other):
        return self.name == other.name
        
r1 = Robot("terminator", "1.4")
r2 = Robot("terminator", "1.6")
r1 == r2

True

In [54]:
r1

In [57]:
class Robot:
    
    def __init__(self, name, version = 1):
        self.name = name # self is like a java this operator in java
        self.version = version

    def __eq__(self, other):
        return self.name == other.name
    
    def __repr__(self):
        return "%s- [%s]" % (self.name, self.version)
        
r1 = Robot("terminator", "1.4")
r2 = Robot("terminator", "1.6")
r1, r2

(terminator- [1.4], terminator- [1.6])

In [66]:
class Robot:
    
    def __init__(self, name, version = 1):
        print("Calling Robot.__init__")
        self.name = name # self is like a java this operator in java
        self.version = version

    def __eq__(self, other):
        return self.name == other.name
    
    def __repr__(self):
        return "%s- [%s]" % (self.name, self.version)



class Terminator(Robot):
    
    def __init__(self, generation):
        print("Calling Terminator.__init__")
        super().__init__("Terminator")
        self.generation = generation
        
    def __repr__(self):
        return "%s- [%s]" % (self.name, self.generation)
        
r1 = Terminator("G1")
r1

Calling Terminator.__init__
Calling Robot.__init__

Terminator- [G1]

# String

In [67]:
s = "Hello world"

In [68]:
len(s)

11

In [69]:
s[:4]

'Hell'

In [70]:
s[-4: ]

'orld'

In [71]:
s[:100]

'Hello world'

In [72]:
s * 4

'Hello worldHello worldHello worldHello world'

In [73]:
"*" * 10

'**********'

In [74]:
s.upper()

'HELLO WORLD'

In [75]:
s = "Hello World"
s.lower()

'hello world'

In [82]:
s = "hello world"
" ".join([v.capitalize() for v in s.split(r" ")])

'Hello World'

In [83]:
"hello" in "hello world"

True

In [84]:
"Hello" in "hello world"

False

In [85]:
"Hello".lower() in "hello world".lower()

True

In [87]:
s = "hello world"
s.startswith("hello")

True

In [89]:
s = "hello world"
s.endswith("hello"), s.endswith("world")

(False, True)

In [98]:
with open("/data/stocks.small.csv", "r") as f:
    s = f.readlines()

In [99]:
len(s)

1847

In [97]:
s[:10]

['date,open,high,low,close,volume,adjclose,symbol\n',
 '2000-07-18,144.8125,144.828125,141.4375,143.0,5.06836E7,50.155473,INTC\n',
 '2000-07-20,32.93751,34.25001,32.8125,33.75,3288300.0,8.789734,BEN\n',
 '2000-07-24,64.25,67.312477,64.187523,64.75,948800.0,7.689567,APH\n',
 '2000-07-26,21.875,22.125,20.9375,20.9375,1464300.0,15.61832,SHW\n',
 '2000-07-26,42.0,42.312481,41.625,41.875,1397600.0,9.402721,STJ\n',
 '2000-07-31,33.937519,33.999986,33.75,33.875011,273400.0,5.063753,GGP\n',
 '2000-08-07,41.375038,43.0,40.812481,42.812481,2.43376E7,4.869542,SBUX\n',
 '2000-08-09,55.562481,55.625,54.5,55.0,387600.0,10.495977,EQT\n',
 '2000-08-10,49.0,52.625,48.75,52.125,1511600.0,22.539051,BCR\n']

# Exercise: 


Datafile https://raw.githubusercontent.com/abulbasar/data/master/stocks.small.csv


1. Find number of lines in the file
2. How many unique stocks symbols are there?
3. How many records are there per stock symbol?
4. Aeverage volume per stock in 2016?