In [3]:
# paragraph
print("hello class")

# to execute press shift + enter, ctrl + enter 
# to run all Kernel -> Restart and Run All

hello class

In [4]:
x = 10

In [5]:
type(x)

int

In [6]:
x = 10.0

In [7]:
type(x)

float

In [9]:
x = True # False
# snake case naming stype for the variables and functions.
# Only classes start with Cap

In [11]:
color_of_season = "orange"

x. # to get code intellisense, type . and press tab

In [18]:
def add(x, y):
    z = x + y # Indentation is very important in python. It defines the code block
    return z

add(2, 3)

5

In [19]:
add(2.9, 3.8)

6.699999999999999

In [20]:
add("hello", "world")

'helloworld'

In [21]:
x = "hello"
type(x) # in jupyter last statement is evaluated as expression and shown in the output

str

In [23]:
x = 3
x
y = 5
y

5

In [25]:
def is_geater_than_100(x):
    result = None # None is python is like null in java
    if x > 100:
        result = "yes"
    else:
        result = "no"
    return x, result

is_geater_than_100(109)

(109, 'yes')

In [28]:
def week_day(x):
    v = None
    if x == 0:
        v = "Sun"
    elif x == 1:
        v = "Mon"
    else:
        v = "other"
    return v

week_day(4),week_day(0)

('other', 'Sun')

In [29]:
x = [3, 8, 0, 10, 4]
type(x)

list

 - list : collection of ordered elements
 - dict : collection of key, value pairs
 - set: unordered collection of unique values ... often used to find unique values and membership test
 - tuple : immutable collection of values

In [32]:
# adding , remove, replace
x = [3, 8, 0, 10, 4]
x.append(100) # add an element to the end
x

[3, 8, 0, 10, 4, 100]

In [33]:
# adding , remove, replace
x = [3, 8, 0, 10, 4]
x.insert(2, 100) # add an element to a position
x

[3, 8, 100, 0, 10, 4]

In [34]:
x = [3, 8, 0, 10, 4]
x[2] = 100 # replace an element
x

[3, 8, 100, 10, 4]

In [37]:
x = [3, 8, 0, 10, 4, 8]
x.index(8)

1

In [39]:
# slicing
x = [3, 8, 0, 10, 4, 8]
x[0]

3

In [40]:
x = [3, 8, 0, 10, 4, 8]
x[-1]

8

In [41]:
x = [3, 8, 0, 10, 4, 8]
x[2:5] # start:end-1

[0, 10, 4]

In [42]:
x = [3, 8, 0, 10, 4, 8]
x[:3]

[3, 8, 0]

In [43]:
x = [3, 8, 0, 10, 4, 8]
x[-3:]

[10, 4, 8]

In [44]:
x = [3, 8, 0, 10, 4, 8]
x[3:100]

[10, 4, 8]

In [45]:
x = [3, 8, 0, 10, 4, 8]
len(x)

6

In [46]:
x = ["Mon", "Tue", "Wed", "Thu"]
for v in x:
    print(v)

Mon
Tue
Wed
Thu

In [47]:
x = ["Mon", "Tue", "Wed", "Thu"]
for i, v in enumerate(x):
    print(i, v)

0 Mon
1 Tue
2 Wed
3 Thu

In [49]:
x = [3, 8, 0, 10, 4, 8]
result = []
for v in x:
    result.append(v + 10)
result

[13, 18, 10, 20, 14, 18]

In [51]:
result = [v + 10 for v in x] # list comprehension
result

[13, 18, 10, 20, 14, 18]

In [53]:
x = [3, 8, 0, 10, 4, 8]
result = [v + 10 for v in x if v % 2 == 0] # list comprehension
result

[18, 10, 20, 14, 18]