In [1]:
print("welcome")

welcome

In [2]:
x = 1

In [3]:
type(x)

int

In [4]:
x = 1.0

In [5]:
type(x)

float

In [22]:
flag = True

In [7]:
is_test = True

In [21]:
type(is_test)

bool

In [27]:
x = 10
if x % 2 == 0:
    print("value of x : ", x)
    print("x is even number")
else:
    print("x is odd")

value of x :  10
x is even number

In [30]:
x = 11
print("x is even") if x % 2 == 0 else print("x is odd")

x is odd

In [33]:
x = 11
result = "even" if x % 2 == 0 else "odd"
print("x is", result)

x is odd

In [34]:
def is_even(x):
    result = True if x % 2 == 0 else False
    return result
is_even(11)

False

In [35]:
is_even(14)

True

In [36]:
def is_even(x):
    return x % 2 == 0 
is_even(11), is_even(14)

(False, True)

In [37]:
# Add two numbers
def add(x1, x2):
    return x1 + x2

add(3, 4)

7

In [39]:
add(3.4, 5.6)

9.0

In [66]:
add("hello", "world")

'helloworld'

In [40]:
x = [3, 5, 7, 8]
type(x)

list

In [41]:
len(x)

4

In [42]:
x = [3, 5, 7, "eight"]
type(x)

list

In [43]:
x[0]

3

In [44]:
x[2]

7

In [46]:
x = ["a", "b", "c", "d", "e", "f", "g", "h"]
x[1:4] # Slicing

['b', 'c', 'd']

In [47]:
x[:3]

['a', 'b', 'c']

In [48]:
x[-1]

'h'

In [49]:
x[-3:]

['f', 'g', 'h']

In [50]:
email = "abulbasar@gmail.com"

In [51]:
type(email)

str

In [52]:
len(email)

19

In [53]:
email[-4:]

'.com'

In [54]:
x = [4, 9, -1,1, 3]
x

[4, 9, -1, 1, 3]

In [58]:
sorted(x)

[-1, 1, 3, 4, 9]

In [57]:
sorted(x, reverse=True)

[9, 4, 3, 1, -1]

In [60]:
def to_abs(v):
    return v if v>=0 else -v
    
x = [9, 4, 1, -3, -1, 0, ]
sorted(x, key=to_abs)

[0, 1, -1, -3, 4, 9]

In [61]:
x = [9, 4, 1, -3, -1, 0, ]
sorted(x, key=lambda v: v if v>0 else -v)

[0, 1, -1, -3, 4, 9]

In [62]:
import math

In [68]:
x = [9, 4, 1, -3, -1, 0, ]
y = sorted(x, key=math.fabs) # Duck typing 
y

[0, 1, -1, -3, 4, 9]

In [69]:
type(y[0])

int

In [70]:
x = [9, 4, 1, -3, -1, 0, ]
if 10 in x:
    print("10 is present in list x")
else:
    print("10 is not present")

10 is not present

In [72]:
x = [9, 4, 1, -3, -1, 0, 1]
if 9 in x:
    print("9 is present in list x")
else:
    print("9 is not present")

9 is present in list x

In [74]:
9 in x # membership test

True

In [77]:
x = [9, 4, 1, -3, -1, 0, 1]
x.index(1)

2

In [79]:
x[::-1]

[1, 0, -1, -3, 1, 4, 9]

In [82]:
x = [9, 4, 1, -3, -1, 0, 1]
x.append(20)
x

[9, 4, 1, -3, -1, 0, 1, 20]

In [83]:
x = [9, 4, 1, -3, -1, 0, 1]
x.insert(1, 20)
x

[9, 20, 4, 1, -3, -1, 0, 1]

In [85]:
x = [9, 4, 1, -3, -1, 0, 1]
x.remove(9)
x

[4, 1, -3, -1, 0, 1]

In [86]:
x = [9, 4, 1, -3, -1, 0, 1]
x.remove(1)
x

[9, 4, -3, -1, 0, 1]

In [90]:
x = [9, 4, 1, -3, -1, 0, 1]
v = 10 
if v in x:
    x.remove(v)
    print(x)
else:
    print("%d is not present in %s" % (v, x))

10 is not present in [9, 4, 1, -3, -1, 0, 1]

In [91]:
str(x)

'[9, 4, 1, -3, -1, 0, 1]'

In [92]:
x = [9, 4, 1, -3, -1, 0, 1]
del x[1]
x

[9, 1, -3, -1, 0, 1]

In [101]:
x = [9, 4, 1, -3, -1, 0, 1]
x[1] = 5
x

[9, 5, 1, -3, -1, 0, 1]

In [94]:
x = (3, 4, 5, 5, 1, -1) # tuple is immutable
type(x)

tuple

In [95]:
x[:3]

(3, 4, 5)

In [96]:
x.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [100]:
x = tuple([3, 4, 5, 5])
type(x)

tuple

In [1]:
x = tuple(list(range(10 ** 2)))
len(x)

100

In [2]:
x = [3, 4, 5, 5]
for v in x:
    print(v)

3
4
5
5

In [3]:
x = [3, 4, 5, 5]
for i, v in enumerate(x):
    print(i, v)

0 3
1 4
2 5
3 5

In [5]:
y = []
x = [3, 4, 5, 5]
for v in x:
    y.append(v + 10)
y

[13, 14, 15, 15]

In [6]:
x = [3, 4, 5, 5]
y = [v + 10 for v in x]
y

[13, 14, 15, 15]

# Dict

In [7]:
weekdays = {"Sun": "Sunday", "Mon": "Monday", "Tue": "Tuesday"}
weekdays["Sun"]

'Sunday'

In [8]:
weekdays["Thu"]

KeyError: 'Thu'

In [9]:
"Thu" in weekdays

False

In [17]:
weekdays = {"Sun": "Sunday", "Mon": "Monday", "Tue": "Tuesday"}
weekdays.get("Thu", "Key is not present")

'Key is not present'

In [19]:
weekdays = {"Sun": "Sunday", "Mon": "Monday", "Tue": "Tuesday"}
weekdays["Thu"] = "Thursday"
weekdays, weekdays.get("Thu", "Key is not present")

({'Sun': 'Sunday', 'Mon': 'Monday', 'Tue': 'Tuesday', 'Thu': 'Thursday'},
 'Thursday')

# Set

In [20]:
weekdays = {"Sun", "Mon", "Tue"}
type(weekdays)

set

In [21]:
x = [4, 5, 6, 5, 5, 9]
set(x)

{4, 5, 6, 9}

In [22]:
len(set(x))

4

In [23]:
from collections import Counter

In [26]:
x = [4, 5, 6, 5, 5, 9]
Counter(x)

Counter({4: 1, 5: 3, 6: 1, 9: 1})

# User defined class

In [28]:
class Robot:
    pass # placeholder for code. Use it when you do not want to implement the code

r = Robot()
type(r)

__main__.Robot

In [29]:
__name__

'__main__'

In [33]:
class Robot:
    pass

r = Robot()
r.name = "terminator" # Property
print(r.name)

terminator

In [43]:
class Robot:
    
    name = None
    version = None

    def greet(self1):
        print("Hello, my name is %s" % self1.name)
    
    def __init__(self, name, version = 1):
        self.name = name # self is like a java this operator in java
        self.version = version

r = Robot("terminator", "1.4")
print(r.name, r.version)

terminator 1.4

In [44]:
r.greet()

Hello, my name is terminator

In [46]:
r1 = Robot("terminator", "1.4")
r2 = Robot("Gene", "1.6")

In [48]:
r1.greet(), r2.greet()

Hello, my name is terminator
Hello, my name is Gene

(None, None)

In [49]:
r1 == r2

False

In [52]:
class Robot:
    
    def __init__(self, name, version = 1):
        self.name = name # self is like a java this operator in java
        self.version = version

        
r1 = Robot("terminator", "1.4")
r2 = Robot("terminator", "1.6")
r1 == r2

False

In [53]:
class Robot:
    
    def __init__(self, name, version = 1):
        self.name = name # self is like a java this operator in java
        self.version = version

    def __eq__(self, other):
        return self.name == other.name
        
r1 = Robot("terminator", "1.4")
r2 = Robot("terminator", "1.6")
r1 == r2

True

In [54]:
r1

In [57]:
class Robot:
    
    def __init__(self, name, version = 1):
        self.name = name # self is like a java this operator in java
        self.version = version

    def __eq__(self, other):
        return self.name == other.name
    
    def __repr__(self):
        return "%s- [%s]" % (self.name, self.version)
        
r1 = Robot("terminator", "1.4")
r2 = Robot("terminator", "1.6")
r1, r2

(terminator- [1.4], terminator- [1.6])

In [66]:
class Robot:
    
    def __init__(self, name, version = 1):
        print("Calling Robot.__init__")
        self.name = name # self is like a java this operator in java
        self.version = version

    def __eq__(self, other):
        return self.name == other.name
    
    def __repr__(self):
        return "%s- [%s]" % (self.name, self.version)



class Terminator(Robot):
    
    def __init__(self, generation):
        print("Calling Terminator.__init__")
        super().__init__("Terminator")
        self.generation = generation
        
    def __repr__(self):
        return "%s- [%s]" % (self.name, self.generation)
        
r1 = Terminator("G1")
r1

Calling Terminator.__init__
Calling Robot.__init__

Terminator- [G1]

# String

In [67]:
s = "Hello world"

In [68]:
len(s)

11

In [69]:
s[:4]

'Hell'

In [70]:
s[-4: ]

'orld'

In [71]:
s[:100]

'Hello world'

In [72]:
s * 4

'Hello worldHello worldHello worldHello world'

In [73]:
"*" * 10

'**********'

In [74]:
s.upper()

'HELLO WORLD'

In [75]:
s = "Hello World"
s.lower()

'hello world'

In [82]:
s = "hello world"
" ".join([v.capitalize() for v in s.split(r" ")])

'Hello World'

In [83]:
"hello" in "hello world"

True

In [84]:
"Hello" in "hello world"

False

In [85]:
"Hello".lower() in "hello world".lower()

True

In [87]:
s = "hello world"
s.startswith("hello")

True

In [89]:
s = "hello world"
s.endswith("hello"), s.endswith("world")

(False, True)

In [100]:
with open("/data/stocks.small.csv", "r") as f:
    lines = f.readlines()

In [101]:
len(lines)

1847

In [97]:
s[:10]

['date,open,high,low,close,volume,adjclose,symbol\n',
 '2000-07-18,144.8125,144.828125,141.4375,143.0,5.06836E7,50.155473,INTC\n',
 '2000-07-20,32.93751,34.25001,32.8125,33.75,3288300.0,8.789734,BEN\n',
 '2000-07-24,64.25,67.312477,64.187523,64.75,948800.0,7.689567,APH\n',
 '2000-07-26,21.875,22.125,20.9375,20.9375,1464300.0,15.61832,SHW\n',
 '2000-07-26,42.0,42.312481,41.625,41.875,1397600.0,9.402721,STJ\n',
 '2000-07-31,33.937519,33.999986,33.75,33.875011,273400.0,5.063753,GGP\n',
 '2000-08-07,41.375038,43.0,40.812481,42.812481,2.43376E7,4.869542,SBUX\n',
 '2000-08-09,55.562481,55.625,54.5,55.0,387600.0,10.495977,EQT\n',
 '2000-08-10,49.0,52.625,48.75,52.125,1511600.0,22.539051,BCR\n']

# Exercise: 


Datafile https://raw.githubusercontent.com/abulbasar/data/master/stocks.small.csv


1. Find number of lines in the file
2. How many unique stocks symbols are there?
3. How many records are there per stock symbol?
4. Average volume per stock in 2016?

In [102]:
path = r"/data/stocks.small.csv"

In [104]:
with open(path) as f:
    lines = f.readlines()
lines[:5]

['date,open,high,low,close,volume,adjclose,symbol\n',
 '2000-07-18,144.8125,144.828125,141.4375,143.0,5.06836E7,50.155473,INTC\n',
 '2000-07-20,32.93751,34.25001,32.8125,33.75,3288300.0,8.789734,BEN\n',
 '2000-07-24,64.25,67.312477,64.187523,64.75,948800.0,7.689567,APH\n',
 '2000-07-26,21.875,22.125,20.9375,20.9375,1464300.0,15.61832,SHW\n']

In [116]:
""" *** Example of multiline comments with triple quotes ***
Find number of lines in the file
""" 
len(lines)

1847

In [108]:
symbols = [line.split(",")[-1] for line in lines[1:]]
symbols = [symbol.replace("\n", "") for symbol in symbols]
symbols[:3]

['INTC', 'BEN', 'APH']

In [117]:
# How many unique stocks symbols are there?
len(set(symbols))

471

In [110]:
float("5.06836E7")

50683600.0

In [128]:
# How many records are there per stock symbol?
count_by_stock = Counter(symbols)
str(count_by_stock)[:100]

"Counter({'UPS': 11, 'ZBH': 11, 'K': 10, 'FLIR': 9, 'KR': 9, 'COF': 9, 'PHM': 9, 'D': 9, 'NKE': 8, 'N"

In [125]:
count_by_symbol = dict()
for v in symbols:
    if v in count_by_symbol:
        count_by_symbol[v] = count_by_symbol[v] + 1
    else:
        count_by_symbol[v] = 1

count_by_symbol = [(symbol, count_by_symbol[symbol]) 
                        for symbol in count_by_symbol]

sorted(count_by_symbol, key= lambda v: v[1], reverse=True)

[('UPS', 11),
 ('ZBH', 11),
 ('K', 10),
 ('FLIR', 9),
 ('KR', 9),
 ('COF', 9),
 ('PHM', 9),
 ('D', 9),
 ('NKE', 8),
 ('NUE', 8),
 ('ETN', 8),
 ('WMT', 8),
 ('FMC', 8),
 ('IFF', 8),
 ('KMB', 8),
 ('JNJ', 8),
 ('PPG', 8),
 ('SIG', 8),
 ('EXR', 8),
 ('CMI', 8),
 ('EQT', 7),
 ('BIIB', 7),
 ('ALK', 7),
 ('CINF', 7),
 ('IP', 7),
 ('CMS', 7),
 ('ED', 7),
 ('GE', 7),
 ('LLY', 7),
 ('HUM', 7),
 ('MRK', 7),
 ('AMZN', 7),
 ('MTB', 7),
 ('MU', 7),
 ('NEM', 7),
 ('LNC', 7),
 ('NFX', 7),
 ('BBBY', 7),
 ('BMY', 7),
 ('WAT', 7),
 ('VZ', 7),
 ('SCHW', 7),
 ('APC', 7),
 ('AES', 7),
 ('HAR', 7),
 ('WDC', 7),
 ('SYY', 7),
 ('RL', 7),
 ('DVA', 7),
 ('PX', 7),
 ('FOXA', 7),
 ('WFC', 7),
 ('BEN', 6),
 ('SBUX', 6),
 ('BCR', 6),
 ('COG', 6),
 ('FDX', 6),
 ('RHT', 6),
 ('XLNX', 6),
 ('R', 6),
 ('LEG', 6),
 ('MOS', 6),
 ('MLM', 6),
 ('MMC', 6),
 ('DE', 6),
 ('YUM', 6),
 ('SLG', 6),
 ('MKC', 6),
 ('CCL', 6),
 ('M', 6),
 ('CA', 6),
 ('EXPD', 6),
 ('PEG', 6),
 ('MDT', 6),
 ('PVH', 6),
 ('PFG', 6),
 ('VRSN', 6),
 ('HPQ', 6),
 ('ADM', 6),
 ('ADI', 6),
 ('JPM', 6),
 ('AME', 6),
 ('ABT', 6),
 ('WM', 6),
 ('EOG', 6),
 ('FTR', 6),
 ('ROK', 6),
 ('VTR', 6),
 ('WYNN', 6),
 ('CHD', 6),
 ('DLR', 6),
 ('PSA', 6),
 ('URBN', 6),
 ('EIX', 6),
 ('TGNA', 6),
 ('SHW', 5),
 ('GGP', 5),
 ('IPG', 5),
 ('BXP', 5),
 ('DO', 5),
 ('ENDP', 5),
 ('STI', 5),
 ('O', 5),
 ('RAI', 5),
 ('MET', 5),
 ('AGN', 5),
 ('KSS', 5),
 ('TROW', 5),
 ('PNC', 5),
 ('MCO', 5),
 ('REGN', 5),
 ('ISRG', 5),
 ('MYL', 5),
 ('OKE', 5),
 ('LRCX', 5),
 ('SCG', 5),
 ('GLW', 5),
 ('SJM', 5),
 ('PGR', 5),
 ('YHOO', 5),
 ('NTRS', 5),
 ('AIG', 5),
 ('SWK', 5),
 ('HCP', 5),
 ('DGX', 5),
 ('HOLX', 5),
 ('CAT', 5),
 ('XRAY', 5),
 ('SWN', 5),
 ('EQR', 5),
 ('ALB', 5),
 ('GPN', 5),
 ('WHR', 5),
 ('WMB', 5),
 ('AYI', 5),
 ('AON', 5),
 ('CVX', 5),
 ('GRMN', 5),
 ('CHK', 5),
 ('NBL', 5),
 ('ROP', 5),
 ('KSU', 5),
 ('DHI', 5),
 ('BK', 5),
 ('MSFT', 5),
 ('ILMN', 5),
 ('BLK', 5),
 ('SWKS', 5),
 ('UNP', 5),
 ('MAS', 5),
 ('LUK', 5),
 ('AA', 5),
 ('AET', 5),
 ('PG', 5),
 ('ETR', 5),
 ('LOW', 5),
 ('SO', 5),
 ('TMO', 5),
 ('CAH', 5),
 ('GD', 5),
 ('AAP', 5),
 ('MS', 5),
 ('WYN', 5),
 ('TGT', 5),
 ('PBCT', 5),
 ('PRGO', 5),
 ('FSLR', 5),
 ('LB', 5),
 ('INTC', 4),
 ('EXC', 4),
 ('BSX', 4),
 ('WBA', 4),
 ('PXD', 4),
 ('BWA', 4),
 ('FCX', 4),
 ('FOX', 4),
 ('CTAS', 4),
 ('LLL', 4),
 ('VMC', 4),
 ('SYK', 4),
 ('HST', 4),
 ('GILD', 4),
 ('CTXS', 4),
 ('EMN', 4),
 ('COH', 4),
 ('OXY', 4),
 ('DTE', 4),
 ('ETFC', 4),
 ('LMT', 4),
 ('PBI', 4),
 ('UNH', 4),
 ('DVN', 4),
 ('DOV', 4),
 ('HRS', 4),
 ('STT', 4),
 ('AEE', 4),
 ('ESS', 4),
 ('PPL', 4),
 ('RRC', 4),
 ('PDCO', 4),
 ('AMGN', 4),
 ('TSN', 4),
 ('TXT', 4),
 ('PNW', 4),
 ('MAR', 4),
 ('HP', 4),
 ('DOW', 4),
 ('DRI', 4),
 ('CSX', 4),
 ('EL', 4),
 ('MNST', 4),
 ('MON', 4),
 ('BBY', 4),
 ('QCOM', 4),
 ('BAX', 4),
 ('FFIV', 4),
 ('AMT', 4),
 ('AKAM', 4),
 ('IVZ', 4),
 ('GT', 4),
 ('LKQ', 4),
 ('ES', 4),
 ('CI', 4),
 ('PLD', 4),
 ('AIZ', 4),
 ('C', 4),
 ('GWW', 4),
 ('APA', 4),
 ('EQIX', 4),
 ('PCG', 4),
 ('ADSK', 4),
 ('KLAC', 4),
 ('AVB', 4),
 ('VIAB', 4),
 ('APD', 4),
 ('HOG', 4),
 ('BA', 4),
 ('FLS', 4),
 ('UTX', 4),
 ('NSC', 4),
 ('ITW', 4),
 ('STZ', 4),
 ('SPLS', 4),
 ('MAC', 4),
 ('NI', 4),
 ('COP', 4),
 ('SNA', 4),
 ('NOV', 4),
 ('FL', 4),
 ('NWL', 4),
 ('FRT', 4),
 ('AWK', 4),
 ('RTN', 4),
 ('APH', 3),
 ('STJ', 3),
 ('LLTC', 3),
 ('EMC', 3),
 ('RHI', 3),
 ('FISV', 3),
 ('EBAY', 3),
 ('HES', 3),
 ('HON', 3),
 ('FLR', 3),
 ('MSI', 3),
 ('HD', 3),
 ('SRE', 3),
 ('SLB', 3),
 ('BLL', 3),
 ('CERN', 3),
 ('ECL', 3),
 ('XL', 3),
 ('AIV', 3),
 ('F', 3),
 ('ATVI', 3),
 ('CNP', 3),
 ('EA', 3),
 ('CCI', 3),
 ('CNC', 3),
 ('CELG', 3),
 ('CL', 3),
 ('AZO', 3),
 ('PCAR', 3),
 ('CHRW', 3),
 ('WY', 3),
 ('AXP', 3),
 ('AEP', 3),
 ('LNT', 3),
 ('MHK', 3),
 ('CLX', 3),
 ('CTL', 3),
 ('RSG', 3),
 ('TIF', 3),
 ('MCK', 3),
 ('EFX', 3),
 ('HIG', 3),
 ('AMAT', 3),
 ('TSO', 3),
 ('XOM', 3),
 ('MDLZ', 3),
 ('LUV', 3),
 ('JWN', 3),
 ('JBHT', 3),
 ('BBT', 3),
 ('ALL', 3),
 ('TRV', 3),
 ('DLTR', 3),
 ('TAP', 3),
 ('IR', 3),
 ('SYMC', 3),
 ('WFM', 3),
 ('MRO', 3),
 ('CRM', 3),
 ('CB', 3),
 ('DUK', 3),
 ('DNB', 3),
 ('AFL', 3),
 ('UHS', 3),
 ('HOT', 3),
 ('HAL', 3),
 ('CBS', 3),
 ('GPS', 3),
 ('PFE', 3),
 ('KMX', 3),
 ('AAPL', 3),
 ('IBM', 3),
 ('TDG', 3),
 ('UDR', 3),
 ('XEC', 3),
 ('GPC', 3),
 ('DIS', 3),
 ('HRL', 3),
 ('VNO', 3),
 ('IRM', 3),
 ('VAR', 3),
 ('PEP', 3),
 ('SE', 3),
 ('DFS', 3),
 ('GOOG', 3),
 ('HAS', 3),
 ('NOC', 3),
 ('AVGO', 3),
 ('TJX', 3),
 ('LYB', 3),
 ('DG', 3),
 ('GIS', 3),
 ('CPB', 3),
 ('CXO', 3),
 ('ADS', 3),
 ('SNI', 3),
 ('FBHS', 3),
 ('KIM', 3),
 ('PKI', 3),
 ('JEC', 3),
 ('USB', 2),
 ('ADBE', 2),
 ('COL', 2),
 ('GS', 2),
 ('CTSH', 2),
 ('HSIC', 2),
 ('LH', 2),
 ('HBAN', 2),
 ('TYC', 2),
 ('PRU', 2),
 ('PCLN', 2),
 ('HRB', 2),
 ('ACN', 2),
 ('MCD', 2),
 ('STX', 2),
 ('URI', 2),
 ('VLO', 2),
 ('EW', 2),
 ('FE', 2),
 ('WEC', 2),
 ('MMM', 2),
 ('TSS', 2),
 ('ESRX', 2),
 ('MO', 2),
 ('EMR', 2),
 ('NRG', 2),
 ('VRTX', 2),
 ('NFLX', 2),
 ('ANTM', 2),
 ('XEL', 2),
 ('JNPR', 2),
 ('VFC', 2),
 ('MAT', 2),
 ('A', 2),
 ('RF', 2),
 ('JCI', 2),
 ('WU', 2),
 ('FTI', 2),
 ('LM', 2),
 ('BDX', 2),
 ('CVS', 2),
 ('HCN', 2),
 ('CF', 2),
 ('MJN', 2),
 ('ICE', 2),
 ('FIS', 2),
 ('CAG', 2),
 ('DAL', 2),
 ('ABC', 2),
 ('BAC', 2),
 ('TEL', 2),
 ('EXPE', 2),
 ('ZION', 2),
 ('UNM', 2),
 ('ORLY', 2),
 ('MA', 2),
 ('UAL', 2),
 ('V', 2),
 ('HSY', 2),
 ('XYL', 2),
 ('CSCO', 2),
 ('AMP', 2),
 ('PSX', 2),
 ('GM', 2),
 ('HCA', 2),
 ('LEN', 2),
 ('NWS', 2),
 ('AMG', 2),
 ('DD', 1),
 ('KEY', 1),
 ('RCL', 1),
 ('SRCL', 1),
 ('ROST', 1),
 ('XRX', 1),
 ('ORCL', 1),
 ('NTAP', 1),
 ('OI', 1),
 ('CMCSA', 1),
 ('GOOGL', 1),
 ('AAL', 1),
 ('TXN', 1),
 ('INTU', 1),
 ('HBI', 1),
 ('DHR', 1),
 ('FAST', 1),
 ('NVDA', 1),
 ('OMC', 1),
 ('COST', 1),
 ('TDC', 1),
 ('ULTA', 1),
 ('ALXN', 1),
 ('CMG', 1),
 ('DISCK', 1),
 ('L', 1),
 ('UA', 1),
 ('PNR', 1),
 ('TWX', 1),
 ('MUR', 1),
 ('T', 1),
 ('KORS', 1),
 ('PM', 1),
 ('TSCO', 1),
 ('SEE', 1),
 ('FB', 1),
 ('CME', 1),
 ('ADP', 1),
 ('TRIP', 1),
 ('MPC', 1),
 ('VRSK', 1),
 ('LVLT', 1),
 ('CBG', 1),
 ('RIG', 1),
 ('SPGI', 1),
 ('CMA', 1),
 ('PWR', 1),
 ('WRK', 1),
 ('ALLE', 1),
 ('MNK', 1)]

In [133]:
# Average volume per stock in 2016?
lines2016 = [v for v in lines if v.startswith("2016")]
lines2016 = [v.split(",") for v in lines2016]
lines2016 = [(tokens[7].replace("\n", ""), float(tokens[5]))
                     for tokens in lines2016]
lines2016

[('ISRG', 584100.0),
 ('HP', 3008400.0),
 ('AMG', 728000.0),
 ('K', 2239600.0),
 ('MSFT', 36775200.0),
 ('RSG', 1736100.0),
 ('ETFC', 4772700.0),
 ('ROK', 1135700.0),
 ('MMM', 2140600.0),
 ('MKC', 1180900.0),
 ('NWS', 965100.0),
 ('CAH', 1801000.0),
 ('EIX', 2109600.0),
 ('TROW', 1260600.0),
 ('LYB', 3358200.0),
 ('IPG', 6881100.0),
 ('ALK', 1364700.0),
 ('ED', 2054900.0),
 ('EXR', 1149900.0),
 ('WRK', 2397300.0),
 ('JEC', 709300.0),
 ('YUM', 2622200.0),
 ('MOS', 4412500.0),
 ('BMY', 8666400.0),
 ('AVGO', 3490600.0),
 ('MCK', 3452500.0),
 ('RAI', 16149100.0),
 ('GPS', 6690900.0),
 ('CAT', 7036100.0),
 ('ALLE', 471100.0),
 ('WYNN', 12644100.0),
 ('FLIR', 646600.0),
 ('BXP', 538600.0),
 ('PKI', 358200.0),
 ('APD', 718800.0),
 ('COP', 10715400.0),
 ('GT', 12536400.0),
 ('KR', 4874000.0),
 ('SNA', 390900.0),
 ('ABT', 18241600.0),
 ('ISRG', 360500.0),
 ('STT', 1560500.0),
 ('AYI', 373400.0),
 ('MNK', 1596400.0),
 ('AAPL', 42062400.0),
 ('MS', 11487100.0),
 ('PG', 6526800.0),
 ('ABT', 7807600.0),
 ('DLR', 1641600.0),
 ('MNST', 795500.0),
 ('TSN', 3277100.0),
 ('FBHS', 760000.0),
 ('ALL', 1625700.0),
 ('DUK', 1672300.0),
 ('MS', 15812900.0),
 ('NOC', 542900.0),
 ('XRAY', 1815500.0),
 ('VNO', 572100.0),
 ('NSC', 1488700.0),
 ('FOXA', 9266200.0),
 ('MDT', 6024200.0),
 ('SO', 6238600.0),
 ('CVS', 3783900.0),
 ('ATVI', 6272900.0),
 ('APA', 2023500.0),
 ('VTR', 2793400.0),
 ('HST', 9559600.0),
 ('GD', 830000.0),
 ('CAG', 2424000.0),
 ('AFL', 1534400.0),
 ('LUV', 6339300.0),
 ('AET', 2520700.0),
 ('UHS', 1576600.0),
 ('BSX', 7115500.0),
 ('ADI', 2740500.0),
 ('CSX', 3899900.0)]

In [136]:
volumes_by_stock = dict()
for symbol, volume in lines2016:
    if symbol not in volumes_by_stock:
        volumes_by_stock[symbol] = []
    volumes_by_stock[symbol].append(volume)

avg_volume_by_stock = dict()
for symbol in volumes_by_stock:
    volumes = volumes_by_stock[symbol]
    avg_volume_by_stock[symbol] = sum(volumes)/len(volumes)

avg_volume_by_stock

{'ISRG': 472300.0,
 'HP': 3008400.0,
 'AMG': 728000.0,
 'K': 2239600.0,
 'MSFT': 36775200.0,
 'RSG': 1736100.0,
 'ETFC': 4772700.0,
 'ROK': 1135700.0,
 'MMM': 2140600.0,
 'MKC': 1180900.0,
 'NWS': 965100.0,
 'CAH': 1801000.0,
 'EIX': 2109600.0,
 'TROW': 1260600.0,
 'LYB': 3358200.0,
 'IPG': 6881100.0,
 'ALK': 1364700.0,
 'ED': 2054900.0,
 'EXR': 1149900.0,
 'WRK': 2397300.0,
 'JEC': 709300.0,
 'YUM': 2622200.0,
 'MOS': 4412500.0,
 'BMY': 8666400.0,
 'AVGO': 3490600.0,
 'MCK': 3452500.0,
 'RAI': 16149100.0,
 'GPS': 6690900.0,
 'CAT': 7036100.0,
 'ALLE': 471100.0,
 'WYNN': 12644100.0,
 'FLIR': 646600.0,
 'BXP': 538600.0,
 'PKI': 358200.0,
 'APD': 718800.0,
 'COP': 10715400.0,
 'GT': 12536400.0,
 'KR': 4874000.0,
 'SNA': 390900.0,
 'ABT': 13024600.0,
 'STT': 1560500.0,
 'AYI': 373400.0,
 'MNK': 1596400.0,
 'AAPL': 42062400.0,
 'MS': 13650000.0,
 'PG': 6526800.0,
 'DLR': 1641600.0,
 'MNST': 795500.0,
 'TSN': 3277100.0,
 'FBHS': 760000.0,
 'ALL': 1625700.0,
 'DUK': 1672300.0,
 'NOC': 542900.0,
 'XRAY': 1815500.0,
 'VNO': 572100.0,
 'NSC': 1488700.0,
 'FOXA': 9266200.0,
 'MDT': 6024200.0,
 'SO': 6238600.0,
 'CVS': 3783900.0,
 'ATVI': 6272900.0,
 'APA': 2023500.0,
 'VTR': 2793400.0,
 'HST': 9559600.0,
 'GD': 830000.0,
 'CAG': 2424000.0,
 'AFL': 1534400.0,
 'LUV': 6339300.0,
 'AET': 2520700.0,
 'UHS': 1576600.0,
 'BSX': 7115500.0,
 'ADI': 2740500.0,
 'CSX': 3899900.0}

In [137]:
from datetime import datetime

In [148]:
weekdays = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
d = datetime.strptime("2001-06-08", "%Y-%m-%d")
weekdays[d.weekday()]

'Fri'

In [150]:
def is_friday(line):
    d = line.split(",")[0]
    weekdays = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
    d = datetime.strptime(d, "%Y-%m-%d")
    day = weekdays[d.weekday()]
    return day == "Fri"
    
lines_fri = [line for line in lines[1:] if is_friday(line)]
lines_fri[:10]

['2000-09-22,42.75,43.0,42.5625,42.875,155100.0,20.370235,BXP\n',
 '2000-11-03,6.51562,7.0625,6.5,7.0625,16800.0,7.0625,ENDP\n',
 '2000-11-10,43.0,43.4375,42.5625,42.875,1813800.0,34.890409,WBA\n',
 '2000-11-17,48.5,49.0,47.125,47.5,1038100.0,32.515943,STI\n',
 '2000-12-01,39.0,39.0,38.25,39.0,4000800.0,1.958053,RAI\n',
 '2000-12-22,44.8125,48.8125,44.3125,48.375,9779200.0,37.182639,XLNX\n',
 '2000-12-22,31.749997,31.749997,30.875005,31.249992,2018100.0,12.446755,FOX\n',
 '2001-01-19,66.375,66.375,64.375,65.9375,1960400.0,56.329221,KSS\n',
 '2001-02-09,37.593761,38.0,36.9375,37.75,1572200.0,13.510969,TROW\n',
 '2001-02-16,36.200001,36.490002,35.799999,36.099998,585700.0,17.109717,ED\n']

In [156]:
def is_friday(line):
    try:
        d = line.split(",")[0]
        weekdays = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
        d = datetime.strptime(d, "%Y-%m-%d")
        day = weekdays[d.weekday()]
        return day == "Fri"
    except:
        return False

list(filter(is_friday, lines))[:10]

['2000-09-22,42.75,43.0,42.5625,42.875,155100.0,20.370235,BXP\n',
 '2000-11-03,6.51562,7.0625,6.5,7.0625,16800.0,7.0625,ENDP\n',
 '2000-11-10,43.0,43.4375,42.5625,42.875,1813800.0,34.890409,WBA\n',
 '2000-11-17,48.5,49.0,47.125,47.5,1038100.0,32.515943,STI\n',
 '2000-12-01,39.0,39.0,38.25,39.0,4000800.0,1.958053,RAI\n',
 '2000-12-22,44.8125,48.8125,44.3125,48.375,9779200.0,37.182639,XLNX\n',
 '2000-12-22,31.749997,31.749997,30.875005,31.249992,2018100.0,12.446755,FOX\n',
 '2001-01-19,66.375,66.375,64.375,65.9375,1960400.0,56.329221,KSS\n',
 '2001-02-09,37.593761,38.0,36.9375,37.75,1572200.0,13.510969,TROW\n',
 '2001-02-16,36.200001,36.490002,35.799999,36.099998,585700.0,17.109717,ED\n']

# Exercise

Find top 10 stocks which have given highest daily return? Display the stock symbol, date and pct return. Use open and and close to calcute the pct change using the following formula
```
pct_change = (close - open)*100/open
```

Consier this is your input
```
'2001-02-16,36.200001,36.490002,35.799999,36.099998,585700.0,17.109717,ED\n'
```

Create a function to return a tuple of  
(symbol, date, pct change)

In [157]:
lines[0]

'date,open,high,low,close,volume,adjclose,symbol\n'

In [164]:
def pct_change(line): # line is string
    
    tokens = line.split(",")
    date = tokens[0]
    symbol = tokens[-1].replace("\n", "")
    open_price = float(tokens[1])
    close_price = float(tokens[4])
    pct_change = (close_price - open_price) * 100 / open_price
    
    return (symbol, date, pct_change)

pct_change('2001-02-16,36.200001,36.490002,35.799999,36.099998,585700.0,17.109717,ED\n')

('ED', '2001-02-16', -0.2762513735842188)

In [166]:
100 * (36.099998 - 36.200001 ) / 36.200001

-0.2762513735842188

In [169]:
lines_pct_change = [pct_change(v) for v in lines[1:]]
lines_pct_change = sorted(lines_pct_change, key=lambda v: - v[2])
lines_pct_change[:10]

[('ALK', '2008-10-13', 11.61616725334179),
 ('CCL', '2008-07-16', 10.515807338296428),
 ('ETFC', '2001-12-05', 9.999999999999996),
 ('FLIR', '2000-12-11', 9.090274383858127),
 ('ENDP', '2000-11-03', 8.39336855126603),
 ('HUM', '2001-09-27', 8.181818181818185),
 ('KLAC', '2007-07-17', 8.120406162415216),
 ('XLNX', '2000-12-22', 7.949790794979079),
 ('FMC', '2004-07-28', 7.777782716049384),
 ('MDT', '2008-10-13', 7.478684713244451)]

In [170]:
lines_pct_change = map(pct_change, lines[1:])
lines_pct_change = sorted(lines_pct_change, key=lambda v: - v[2])
lines_pct_change[:10]

[('ALK', '2008-10-13', 11.61616725334179),
 ('CCL', '2008-07-16', 10.515807338296428),
 ('ETFC', '2001-12-05', 9.999999999999996),
 ('FLIR', '2000-12-11', 9.090274383858127),
 ('ENDP', '2000-11-03', 8.39336855126603),
 ('HUM', '2001-09-27', 8.181818181818185),
 ('KLAC', '2007-07-17', 8.120406162415216),
 ('XLNX', '2000-12-22', 7.949790794979079),
 ('FMC', '2004-07-28', 7.777782716049384),
 ('MDT', '2008-10-13', 7.478684713244451)]