In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/data/insurance.csv")
df.head()

   age  gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
label = "charges"
X = df.drop(columns=[label]) # features
y = df[label]
X

      age  gender     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
5      31  female  25.740         0     no  southeast
6      46  female  33.440         1     no  southeast
7      37  female  27.740         3     no  northwest
8      37    male  29.830         2     no  northeast
9      60  female  25.840         0     no  northwest
10     25    male  26.220         0     no  northeast
11     62  female  26.290         0    yes  southeast
12     23    male  34.400         0     no  southwest
13     56  female  39.820         0     no  southeast
14     27    male  42.130         0    yes  southeast
15     19    male  24.600         1     no  southwest
16     52  female  30.780         1     no  northeast
17     23    male  23.845         0     no  northeast
18     56    male  40.300         0     no  southwest
19     30    male  35.300         0    yes  southwest
20     60  female  36.005         0     no  northeast
21     30  female  32.400         1     no  southwest
22     18    male  34.100         0     no  southeast
23     34  female  31.920         1    yes  northeast
24     37    male  28.025         2     no  northwest
25     59  female  27.720         3     no  southeast
26     63  female  23.085         0     no  northeast
27     55  female  32.775         2     no  northwest
28     23    male  17.385         1     no  northwest
29     31    male  36.300         2    yes  southwest
...   ...     ...     ...       ...    ...        ...
1308   25  female  30.200         0    yes  southwest
1309   41    male  32.200         2     no  southwest
1310   42    male  26.315         1     no  northwest
1311   33  female  26.695         0     no  northwest
1312   34    male  42.900         1     no  southwest
1313   19  female  34.700         2    yes  southwest
1314   30  female  23.655         3    yes  northwest
1315   18    male  28.310         1     no  northeast
1316   19  female  20.600         0     no  southwest
1317   18    male  53.130         0     no  southeast
1318   35    male  39.710         4     no  northeast
1319   39  female  26.315         2     no  northwest
1320   31    male  31.065         3     no  northwest
1321   62    male  26.695         0    yes  northeast
1322   62    male  38.830         0     no  southeast
1323   42  female  40.370         2    yes  southeast
1324   31    male  25.935         1     no  northwest
1325   61    male  33.535         0     no  northeast
1326   42  female  32.870         0     no  northeast
1327   51    male  30.030         1     no  southeast
1328   23  female  24.225         2     no  northeast
1329   52    male  38.600         2     no  southwest
1330   57  female  25.740         2     no  southeast
1331   23  female  33.400         0     no  southwest
1332   52  female  44.700         3     no  southwest
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [5]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
5        3756.62160
6        8240.58960
7        7281.50560
8        6406.41070
9       28923.13692
10       2721.32080
11      27808.72510
12       1826.84300
13      11090.71780
14      39611.75770
15       1837.23700
16      10797.33620
17       2395.17155
18      10602.38500
19      36837.46700
20      13228.84695
21       4149.73600
22       1137.01100
23      37701.87680
24       6203.90175
25      14001.13380
26      14451.83515
27      12268.63225
28       2775.19215
29      38711.00000
           ...
1308    33900.65300
1309     6875.96100
1310     6940.90985
1311     4571.41305
1312     4536.25900
1313    36397.57600
1314    18765.87545
1315    11272.33139
1316     1731.67700
1317     1163.46270
1318    19496.71917
1319     7201.70085
1320     5425.02335
1321    28101.33305
1322    12981.34570
1323    43896.37630
1324     4239.89265
1325    13143.33665
1326     7050.02130
1327     9377.90470
1328    22395.74424
1329    10325.20600
1330    12629.16560
1331    10795.93733
1332    11411.68500
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [11]:
X.head(10)

   age  gender     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest
5   31  female  25.740         0     no  southeast
6   46  female  33.440         1     no  southeast
7   37  female  27.740         3     no  northwest
8   37    male  29.830         2     no  northeast
9   60  female  25.840         0     no  northwest

In [13]:
sorted(df.region.unique())

['northeast', 'northwest', 'southeast', 'southwest']

In [14]:
X_dummy = pd.get_dummies(X, drop_first=True) # OneHot Encoding

In [34]:
X_dummy

,age,bmi,children,gender_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,0,1,0,0,1
1,18,33.770,1,1,0,0,1,0
2,28,33.000,3,1,0,0,1,0
3,33,22.705,0,1,0,1,0,0
4,32,28.880,0,1,0,1,0,0
5,31,25.740,0,0,0,0,1,0
6,46,33.440,1,0,0,0,1,0
7,37,27.740,3,0,0,1,0,0
8,37,29.830,2,1,0,0,0,0
9,60,25.840,0,0,0,1,0,0
10,25,26.220,0,1,0,0,0,0
11,62,26.290,0,0,1,0,1,0
12,23,34.400,0,1,0,0,0,1
13,56,39.820,0,0,0,0,1,0
14,27,42.130,0,1,1,0,1,0
15,19,24.600,1,1,0,0,0,1
16,52,30.780,1,0,0,0,0,0
17,23,23.845,0,1,0,0,0,0
18,56,40.300,0,1,0,0,0,1
19,30,35.300,0,1,1,0,0,1
20,60,36.005,0,0,0,0,0,0
21,30,32.400,1,0,0,0,0,1
22,18,34.100,0,1,0,0,1,0
23,34,31.920,1,0,1,0,0,0
24,37,28.025,2,1,0,1,0,0
25,59,27.720,3,0,0,0,1,0
26,63,23.085,0,0,0,0,0,0
27,55,32.775,2,0,0,1,0,0
28,23,17.385,1,1,0,1,0,0
29,31,36.300,2,1,1,0,0,1
...,...,...,...,...,...,...,...,...
1308,25,30.200,0,0,1,0,0,1
1309,41,32.200,2,1,0,0,0,1
1310,42,26.315,1,1,0,1,0,0
1311,33,26.695,0,0,0,1,0,0
1312,34,42.900,1,1,0,0,0,1
1313,19,34.700,2,0,1,0,0,1
1314,30,23.655,3,0,1,1,0,0
1315,18,28.310,1,1,0,0,0,0
1316,19,20.600,0,0,0,0,0,1
1317,18,53.130,0,1,0,0,1,0
1318,35,39.710,4,1,0,0,0,0
1319,39,26.315,2,0,0,1,0,0
1320,31,31.065,3,1,0,1,0,0
1321,62,26.695,0,1,1,0,0,0
1322,62,38.830,0,1,0,0,1,0
1323,42,40.370,2,0,1,0,1,0
1324,31,25.935,1,1,0,1,0,0
1325,61,33.535,0,1,0,0,0,0
1326,42,32.870,0,0,0,0,0,0
1327,51,30.030,1,1,0,0,1,0
1328,23,24.225,2,0,0,0,0,0
1329,52,38.600,2,1,0,0,0,1
1330,57,25.740,2,0,0,0,1,0
1331,23,33.400,0,0,0,0,0,1
1332,52,44.700,3,0,0,0,0,1
1333,50,30.970,3,1,0,1,0,0
1334,18,31.920,0,0,0,0,0,0
1335,18,36.850,0,0,0,0,1,0
1336,21,25.800,0,0,0,0,0,1
1337,61,29.070,0,0,1,1,0,0

In [27]:
X = X_dummy.values

In [29]:
import numpy as np

In [33]:
Z = (X - X.mean(axis = 0))/np.std(X, axis = 0) 
# For each column, z = (x - mean(x))/std(x)
pd.DataFrame(Z).describe()

,0,1,2,3,4,5,6,7
count,1.338000e+03,1.338000e+03,1.338000e+03,1.338000e+03,1.338000e+03,1.338000e+03,1.338000e+03,1.338000e+03
mean,-1.853691e-16,-1.869041e-16,2.721623e-17,-7.567439e-17,2.142448e-16,-2.846087e-16,1.186561e-16,1.481127e-16
std,1.000374e+00,1.000374e+00,1.000374e+00,1.000374e+00,1.000374e+00,1.000374e+00,1.000374e+00,1.000374e+00
min,-1.509965e+00,-2.412011e+00,-9.086137e-01,-1.010519e+00,-5.074631e-01,-5.664179e-01,-6.113237e-01,-5.664179e-01
25%,-8.691547e-01,-7.164063e-01,-9.086137e-01,-1.010519e+00,-5.074631e-01,-5.664179e-01,-6.113237e-01,-5.664179e-01
50%,-1.474046e-02,-4.320880e-02,-7.876719e-02,9.895908e-01,-5.074631e-01,-5.664179e-01,-6.113237e-01,-5.664179e-01
75%,8.396738e-01,6.611572e-01,7.510793e-01,9.895908e-01,-5.074631e-01,-5.664179e-01,1.635795e+00,-5.664179e-01
max,1.765289e+00,3.685522e+00,3.240619e+00,9.895908e-01,1.970587e+00,1.765481e+00,1.635795e+00,1.765481e+00

In [24]:
Z = (X_dummy.values - X_dummy.values.mean())/ X_dummy.values.std()
pd.DataFrame(Z)

,0,1,2,3,4,5,6,7
0,0.619780,1.174388,-0.564214,-0.564214,-0.501898,-0.564214,-0.564214,-0.501898
1,0.557465,1.540180,-0.501898,-0.501898,-0.564214,-0.564214,-0.501898,-0.564214
2,1.180620,1.492197,-0.377267,-0.501898,-0.564214,-0.564214,-0.501898,-0.564214
3,1.492197,0.850659,-0.564214,-0.501898,-0.564214,-0.501898,-0.564214,-0.564214
4,1.429882,1.235457,-0.564214,-0.501898,-0.564214,-0.501898,-0.564214,-0.564214
5,1.367566,1.039787,-0.564214,-0.564214,-0.564214,-0.564214,-0.501898,-0.564214
6,2.302298,1.519616,-0.501898,-0.564214,-0.564214,-0.564214,-0.501898,-0.564214
7,1.741459,1.164418,-0.377267,-0.564214,-0.564214,-0.501898,-0.564214,-0.564214
8,1.741459,1.294657,-0.439583,-0.501898,-0.564214,-0.564214,-0.564214,-0.564214
9,3.174715,1.046018,-0.564214,-0.564214,-0.564214,-0.501898,-0.564214,-0.564214
10,0.993673,1.069698,-0.564214,-0.501898,-0.564214,-0.564214,-0.564214,-0.564214
11,3.299346,1.074060,-0.564214,-0.564214,-0.501898,-0.564214,-0.501898,-0.564214
12,0.869042,1.579439,-0.564214,-0.501898,-0.564214,-0.564214,-0.564214,-0.501898
13,2.925453,1.917189,-0.564214,-0.564214,-0.564214,-0.564214,-0.501898,-0.564214
14,1.118304,2.061137,-0.564214,-0.501898,-0.501898,-0.564214,-0.501898,-0.564214
15,0.619780,0.968747,-0.501898,-0.501898,-0.564214,-0.564214,-0.564214,-0.501898
16,2.676191,1.353857,-0.501898,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214
17,0.869042,0.921699,-0.564214,-0.501898,-0.564214,-0.564214,-0.564214,-0.564214
18,2.925453,1.947100,-0.564214,-0.501898,-0.564214,-0.564214,-0.564214,-0.501898
19,1.305251,1.635523,-0.564214,-0.501898,-0.501898,-0.564214,-0.564214,-0.501898
20,3.174715,1.679455,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214
21,1.305251,1.454808,-0.501898,-0.564214,-0.564214,-0.564214,-0.564214,-0.501898
22,0.557465,1.560744,-0.564214,-0.501898,-0.564214,-0.564214,-0.501898,-0.564214
23,1.554513,1.424896,-0.501898,-0.564214,-0.501898,-0.564214,-0.564214,-0.564214
24,1.741459,1.182178,-0.439583,-0.501898,-0.564214,-0.501898,-0.564214,-0.564214
25,3.112400,1.163171,-0.377267,-0.564214,-0.564214,-0.564214,-0.501898,-0.564214
26,3.361662,0.874339,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214
27,2.863138,1.478176,-0.439583,-0.564214,-0.564214,-0.501898,-0.564214,-0.564214
28,0.869042,0.519141,-0.501898,-0.501898,-0.564214,-0.501898,-0.564214,-0.564214
29,1.367566,1.697838,-0.439583,-0.501898,-0.501898,-0.564214,-0.564214,-0.501898
...,...,...,...,...,...,...,...,...
1308,0.993673,1.317714,-0.564214,-0.564214,-0.501898,-0.564214,-0.564214,-0.501898
1309,1.990721,1.442345,-0.439583,-0.501898,-0.564214,-0.564214,-0.564214,-0.501898
1310,2.053036,1.075618,-0.501898,-0.501898,-0.564214,-0.501898,-0.564214,-0.564214
1311,1.492197,1.099298,-0.564214,-0.564214,-0.564214,-0.501898,-0.564214,-0.564214
1312,1.554513,2.109120,-0.501898,-0.501898,-0.564214,-0.564214,-0.564214,-0.501898
1313,0.619780,1.598133,-0.439583,-0.564214,-0.501898,-0.564214,-0.564214,-0.501898
1314,1.305251,0.909859,-0.377267,-0.564214,-0.501898,-0.501898,-0.564214,-0.564214
1315,0.557465,1.199938,-0.501898,-0.501898,-0.564214,-0.564214,-0.564214,-0.564214
1316,0.619780,0.719485,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214,-0.501898
1317,0.557465,2.746608,-0.564214,-0.501898,-0.564214,-0.564214,-0.501898,-0.564214
1318,1.616828,1.910334,-0.314952,-0.501898,-0.564214,-0.564214,-0.564214,-0.564214
1319,1.866090,1.075618,-0.439583,-0.564214,-0.564214,-0.501898,-0.564214,-0.564214
1320,1.367566,1.371617,-0.377267,-0.501898,-0.564214,-0.501898,-0.564214,-0.564214
1321,3.299346,1.099298,-0.564214,-0.501898,-0.501898,-0.564214,-0.564214,-0.564214
1322,3.299346,1.855496,-0.564214,-0.501898,-0.564214,-0.564214,-0.501898,-0.564214
1323,2.053036,1.951462,-0.439583,-0.564214,-0.501898,-0.564214,-0.501898,-0.564214
1324,1.367566,1.051938,-0.501898,-0.501898,-0.564214,-0.501898,-0.564214,-0.564214
1325,3.237031,1.525536,-0.564214,-0.501898,-0.564214,-0.564214,-0.564214,-0.564214
1326,2.053036,1.484096,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214
1327,2.613876,1.307120,-0.501898,-0.501898,-0.564214,-0.564214,-0.501898,-0.564214
1328,0.869042,0.945379,-0.439583,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214
1329,2.676191,1.841164,-0.439583,-0.501898,-0.564214,-0.564214,-0.564214,-0.501898
1330,2.987769,1.039787,-0.439583,-0.564214,-0.564214,-0.564214,-0.501898,-0.564214
1331,0.869042,1.517123,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214,-0.501898
1332,2.676191,2.221288,-0.377267,-0.564214,-0.564214,-0.564214,-0.564214,-0.501898
1333,2.551560,1.365697,-0.377267,-0.501898,-0.564214,-0.501898,-0.564214,-0.564214
1334,0.557465,1.424896,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214
1335,0.557465,1.732112,-0.564214,-0.564214,-0.564214,-0.564214,-0.501898,-0.564214
1336,0.744411,1.043526,-0.564214,-0.564214,-0.564214,-0.564214,-0.564214,-0.501898
1337,3.237031,1.247297,-0.564214,-0.564214,-0.501898,-0.501898,-0.564214,-0.564214

In [6]:
from sklearn import preprocessing, model_selection

In [79]:

#X: features, y: label
X_train, X_test, y_train, y_test = model_selection.train_test_split(X_dummy,
                                            y, test_size = 0.3, random_state = 1)

In [38]:
X_train.shape, X_test.shape

((936, 8), (402, 8))

In [39]:
936/len(X)

0.6995515695067265

In [77]:
np.random.seed(1)
(np.random.random(10) * 100).astype("int")

array([41, 72,  0, 30, 14,  9, 18, 34, 39, 53])

In [78]:
X_dummy

,age,bmi,children,gender_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.900,0,0,1,0,0,1
1,18,33.770,1,1,0,0,1,0
2,28,33.000,3,1,0,0,1,0
3,33,22.705,0,1,0,1,0,0
4,32,28.880,0,1,0,1,0,0
5,31,25.740,0,0,0,0,1,0
6,46,33.440,1,0,0,0,1,0
7,37,27.740,3,0,0,1,0,0
8,37,29.830,2,1,0,0,0,0
9,60,25.840,0,0,0,1,0,0
10,25,26.220,0,1,0,0,0,0
11,62,26.290,0,0,1,0,1,0
12,23,34.400,0,1,0,0,0,1
13,56,39.820,0,0,0,0,1,0
14,27,42.130,0,1,1,0,1,0
15,19,24.600,1,1,0,0,0,1
16,52,30.780,1,0,0,0,0,0
17,23,23.845,0,1,0,0,0,0
18,56,40.300,0,1,0,0,0,1
19,30,35.300,0,1,1,0,0,1
20,60,36.005,0,0,0,0,0,0
21,30,32.400,1,0,0,0,0,1
22,18,34.100,0,1,0,0,1,0
23,34,31.920,1,0,1,0,0,0
24,37,28.025,2,1,0,1,0,0
25,59,27.720,3,0,0,0,1,0
26,63,23.085,0,0,0,0,0,0
27,55,32.775,2,0,0,1,0,0
28,23,17.385,1,1,0,1,0,0
29,31,36.300,2,1,1,0,0,1
...,...,...,...,...,...,...,...,...
1308,25,30.200,0,0,1,0,0,1
1309,41,32.200,2,1,0,0,0,1
1310,42,26.315,1,1,0,1,0,0
1311,33,26.695,0,0,0,1,0,0
1312,34,42.900,1,1,0,0,0,1
1313,19,34.700,2,0,1,0,0,1
1314,30,23.655,3,0,1,1,0,0
1315,18,28.310,1,1,0,0,0,0
1316,19,20.600,0,0,0,0,0,1
1317,18,53.130,0,1,0,0,1,0
1318,35,39.710,4,1,0,0,0,0
1319,39,26.315,2,0,0,1,0,0
1320,31,31.065,3,1,0,1,0,0
1321,62,26.695,0,1,1,0,0,0
1322,62,38.830,0,1,0,0,1,0
1323,42,40.370,2,0,1,0,1,0
1324,31,25.935,1,1,0,1,0,0
1325,61,33.535,0,1,0,0,0,0
1326,42,32.870,0,0,0,0,0,0
1327,51,30.030,1,1,0,0,1,0
1328,23,24.225,2,0,0,0,0,0
1329,52,38.600,2,1,0,0,0,1
1330,57,25.740,2,0,0,0,1,0
1331,23,33.400,0,0,0,0,0,1
1332,52,44.700,3,0,0,0,0,1
1333,50,30.970,3,1,0,1,0,0
1334,18,31.920,0,0,0,0,0,0
1335,18,36.850,0,0,0,0,1,0
1336,21,25.800,0,0,0,0,0,1
1337,61,29.070,0,0,1,1,0,0

In [82]:
scaler = preprocessing.StandardScaler()
scaler.fit(X_train)
X_train_std = scaler.transform(X_train)
X_test_std = scaler.transform(X_test)
pd.DataFrame(X_train_std).describe()

,0,1,2,3,4,5,6,7
count,9.360000e+02,9.360000e+02,9.360000e+02,9.360000e+02,9.360000e+02,9.360000e+02,9.360000e+02,9.360000e+02
mean,-1.791065e-16,-4.635418e-16,-2.910332e-16,1.767342e-17,8.979047e-17,-1.088873e-16,4.886879e-17,-2.372271e-17
std,1.000535e+00,1.000535e+00,1.000535e+00,1.000535e+00,1.000535e+00,1.000535e+00,1.000535e+00,1.000535e+00
min,-1.485041e+00,-2.419524e+00,-9.040023e-01,-1.023787e+00,-5.096643e-01,-5.592522e-01,-6.003875e-01,-5.872202e-01
25%,-9.144925e-01,-7.247116e-01,-9.040023e-01,-1.023787e+00,-5.096643e-01,-5.592522e-01,-6.003875e-01,-5.872202e-01
50%,-5.867016e-02,-3.076297e-02,-8.567913e-02,9.767656e-01,-5.096643e-01,-5.592522e-01,-6.003875e-01,-5.872202e-01
75%,8.684707e-01,6.631857e-01,7.326440e-01,9.767656e-01,-5.096643e-01,-5.592522e-01,1.665591e+00,1.702939e+00
max,1.795612e+00,3.689196e+00,3.187613e+00,9.767656e-01,1.962076e+00,1.788102e+00,1.665591e+00,1.702939e+00

In [83]:
from sklearn import linear_model

In [85]:
est = linear_model.LinearRegression()
est.fit(X_train_std, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [101]:
y_test_pred = est.predict(X_test_std)
y_train_pred = est.predict(X_train_std)

In [90]:
result = pd.DataFrame({"actual": y_test, "prediction": y_test_pred})
result["error"] = result.actual - result.prediction
sse = (result.error ** 2).sum()
sse # positive

14778105453.509335

In [92]:
baseline_estimation = y_train.mean()
sst = ((y_test - baseline_estimation) ** 2).sum()
sst # positive

56970277938.44924

In [93]:
sse/sst # expectiation is this ratio < 1,

0.2594002695488974

In [94]:
r2 = 1 - sse / sst # Goodness of the model, closer to 1 is better. Best score is 1
r2

0.7405997304511026

In [95]:
mse = sse / len(y_test) # Cost function. This GD tries to minimize
mse

36761456.35201327

In [96]:
rmse = np.sqrt(mse)
rmse

6063.122656850451

In [97]:
from sklearn import metrics

In [98]:
metrics.mean_squared_error(y_test, y_test_pred)

36761456.35201327

In [102]:
print("Test RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))
print("Train RMSE", np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))

Test RMSE 6063.122656850451
Train RMSE 6039.6018713245385

In [105]:
np.log(((y_train_pred - y_train) ** 2).sum()), np.log(((y_test_pred - y_test) ** 2).sum())

(24.25380222330305, 23.41641256113186)

m1 -> 6063.122656850451
m2 -> 6060.122656850451

In [108]:
label = "charges"
X = df.drop(columns=[label]) # features
y = df[label]

X_dummy = pd.get_dummies(X, drop_first=True) # OneHot Encoding

#X: features, y: label
X_train, X_test, y_train, y_test = model_selection.train_test_split(X_dummy,
                                         y, test_size = 0.3, random_state = 1)

scaler = preprocessing.StandardScaler()
scaler.fit(X_train)
X_train_std = scaler.transform(X_train)
X_test_std = scaler.transform(X_test)

est = linear_model.LinearRegression()
est.fit(X_train_std, y_train)

y_test_pred = est.predict(X_test_std)
y_train_pred = est.predict(X_train_std)

print("Train RMSE", np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
print("Test RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))
print("Train R2", metrics.r2_score(y_train, y_train_pred))
print("Test R2", metrics.r2_score(y_test, y_test_pred))

Train RMSE 6039.6018713245385
Test RMSE 6063.122656850451
Train R2 0.7545557492633161
Test R2 0.7405989316927211

In [109]:
from sklearn import pipeline

In [110]:
label = "charges"
X = df.drop(columns=[label]) # features
y = df[label]

X_dummy = pd.get_dummies(X, drop_first=True) # OneHot Encoding

#X: features, y: label
X_train, X_test, y_train, y_test = model_selection.train_test_split(X_dummy,
                                         y, test_size = 0.3, random_state = 1)


pipe = pipeline.Pipeline([
    ("scaler", preprocessing.StandardScaler()),
    ("est", linear_model.LinearRegression())
])
pipe.fit(X_train, y_train)

y_test_pred = pipe.predict(X_test)
y_train_pred = pipe.predict(X_train)

print("Train RMSE", np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
print("Test RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))
print("Train R2", metrics.r2_score(y_train, y_train_pred))
print("Test R2", metrics.r2_score(y_test, y_test_pred))

Train RMSE 6039.6018713245385
Test RMSE 6063.122656850451
Train R2 0.7545557492633161
Test R2 0.7405989316927211

In [113]:
est = pipe.steps[-1][-1]

In [114]:
est.coef_, est.intercept_

(array([3528.98273114, 1961.65520818,  421.55016415, -141.35911014,
        9733.78688309, -129.54588605, -414.54148288, -379.09534369]),
 13276.698553898505)

In [115]:
pd.DataFrame({"feature": X_dummy.columns, "coefficient": est.coef_ })

            feature  coefficient
0               age  3528.982731
1               bmi  1961.655208
2          children   421.550164
3       gender_male  -141.359110
4        smoker_yes  9733.786883
5  region_northwest  -129.545886
6  region_southeast  -414.541483
7  region_southwest  -379.095344

In [116]:
label = "charges"
X = df.drop(columns=[label]) # features
y = np.log(df[label])

X_dummy = pd.get_dummies(X, drop_first=True) # OneHot Encoding

#X: features, y: label
X_train, X_test, y_train, y_test = model_selection.train_test_split(X_dummy,
                                         y, test_size = 0.3, random_state = 1)


pipe = pipeline.Pipeline([
    ("scaler", preprocessing.StandardScaler()),
    ("est", linear_model.LinearRegression())
])
pipe.fit(X_train, y_train)

y_test_pred = pipe.predict(X_test)
y_train_pred = pipe.predict(X_train)

print("Train RMSE", np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
print("Test RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))
print("Train R2", metrics.r2_score(y_train, y_train_pred))
print("Test R2", metrics.r2_score(y_test, y_test_pred))

Train RMSE 0.4517429024103798
Test RMSE 0.4228608853190619
Train R2 0.7589104330619342
Test R2 0.78742951961976

In [118]:
label = "charges"
X = df.drop(columns=[label]) # features
y = np.log(df[label])

X_dummy = pd.get_dummies(X, drop_first=True) # OneHot Encoding

#X: features, y: label
X_train, X_test, y_train, y_test = model_selection.train_test_split(X_dummy,
                                         y, test_size = 0.3, random_state = 1)


pipe = pipeline.Pipeline([
    ("poly", preprocessing.PolynomialFeatures(degree=2, include_bias=False)),
    ("scaler", preprocessing.StandardScaler()),
    ("est", linear_model.LinearRegression())
])
pipe.fit(X_train, y_train)

y_test_pred = pipe.predict(X_test)
y_train_pred = pipe.predict(X_train)

print("Train RMSE", np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
print("Test RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))
print("Train R2", metrics.r2_score(y_train, y_train_pred))
print("Test R2", metrics.r2_score(y_test, y_test_pred))

Train RMSE 0.37850829051818363
Test RMSE 0.334156776201238
Train R2 0.830743040948373
Test R2 0.8672579655984062

In [120]:
a = np.array([
    [3, 4, 5],
    [0, 1, 0],
    [-1, 1, 2],
    [1, 4, 9]
])

poly = preprocessing.PolynomialFeatures(degree=2, include_bias=True)
poly.fit_transform(a)

array([[ 1.,  3.,  4.,  5.,  9., 12., 15., 16., 20., 25.],
       [ 1.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.],
       [ 1., -1.,  1.,  2.,  1., -1., -2.,  1.,  2.,  4.],
       [ 1.,  1.,  4.,  9.,  1.,  4.,  9., 16., 36., 81.]])

In [122]:
a = np.random.randn(10, 1000)
poly = preprocessing.PolynomialFeatures(degree=2, include_bias=True)
poly.fit_transform(a).shape

(10, 501501)

In [125]:
label = "charges"
X = df.drop(columns=[label]) # features
y = np.log(df[label])

X["high_bmi"] = np.where(df.bmi > 30, True, False)
X["high_age"] = np.where(df.age > 60, True, False)

X_dummy = pd.get_dummies(X, drop_first=True) # OneHot Encoding



#X: features, y: label
X_train, X_test, y_train, y_test = model_selection.train_test_split(X_dummy,
                                         y, test_size = 0.3, random_state = 1)


pipe = pipeline.Pipeline([
    ("poly", preprocessing.PolynomialFeatures(degree=5, include_bias=False)),
    ("scaler", preprocessing.StandardScaler()),
    ("est", linear_model.LinearRegression())
])
pipe.fit(X_train, y_train)

y_test_pred = pipe.predict(X_test)
y_train_pred = pipe.predict(X_train)

print("Train RMSE", np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
print("Test RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))
print("Train R2", metrics.r2_score(y_train, y_train_pred))
print("Test R2", metrics.r2_score(y_test, y_test_pred))

Train RMSE 0.24110271670150618
Test RMSE 62971169644.696014
Train R2 0.9313247974363097
Test R2 -4.714020260251836e+21

In [140]:
label = "charges"
X = df.drop(columns=[label]) # features
y = np.log(df[label])

X["high_bmi"] = np.where(df.bmi > 30, True, False)
X["high_age"] = np.where(df.age > 60, True, False)

X_dummy = pd.get_dummies(X, drop_first=True) # OneHot Encoding



#X: features, y: label
X_train, X_test, y_train, y_test = model_selection.train_test_split(X_dummy,
                                         y, test_size = 0.3, random_state = 1)


pipe = pipeline.Pipeline([
    ("poly", preprocessing.PolynomialFeatures(degree=2, include_bias=False)),
    ("scaler", preprocessing.StandardScaler()),
    ("est", linear_model.Lasso(alpha=0.001))
])
pipe.fit(X_train, y_train)

y_test_pred = pipe.predict(X_test)
y_train_pred = pipe.predict(X_train)

print("Train RMSE", np.sqrt(metrics.mean_squared_error(y_train, y_train_pred)))
print("Test RMSE", np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))
print("Train R2", metrics.r2_score(y_train, y_train_pred))
print("Test R2", metrics.r2_score(y_test, y_test_pred))

Train RMSE 0.3730443552064863
Test RMSE 0.32814280559992415
Train R2 0.8355943696162279
Test R2 0.871993006187324